/* Akhatna */
.head {
    background: green;
    border: 10px solid black;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  div {
    background: rgb(233, 166, 127); 
    text-align: center;
    padding: 10px;
    border: 5px solid navy;
    margin: 5px;
  }
  
  .monday{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background: rgb(70, 143, 101);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  .text{
    text-align: left;
  }

  .content {
    display: none;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: rgb(27, 30, 28);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
  }

  #jk:hover {
    color: red;
  }
